<button (click)="addCube()">Add cube</button>
<button (click)="addTree()">Add tree</button>
<button (click)="addRoof()">Add roof</button>
<button (click)="addGarden()">Add garden</button>
<button (click)="startFreeformCreation()">Start Freeform Creation</button>
<div class="container">
  <div #canvasContainer class="canvas-container"></div>

  <div class="sidenav">
    <h3>Object Controls</h3>
    <div *ngIf="selectedObject">
      <h4>Position</h4>
      <label
        >X:
        <input
          type="number"
          [(ngModel)]="position.x"
          (ngModelChange)="updatePosition()"
      /></label>
      <label
        >Y:
        <input
          type="number"
          [(ngModel)]="position.y"
          (ngModelChange)="updatePosition()"
      /></label>
      <label
        >Z:
        <input
          type="number"
          [(ngModel)]="position.z"
          (ngModelChange)="updatePosition()"
      /></label>

      <h4>Size</h4>
      <label
        >Width:
        <input
          type="number"
          [(ngModel)]="dimensions.width"
          (ngModelChange)="updateSize()"
      /></label>
      <label
        >Height:
        <input
          type="number"
          [(ngModel)]="dimensions.height"
          (ngModelChange)="updateSize()"
      /></label>
      <label
        >Depth:
        <input
          type="number"
          [(ngModel)]="dimensions.depth"
          (ngModelChange)="updateSize()"
      /></label>
    </div>
  </div>
</div>

<div #canvasContainer class="canvas-container"></div>
